.gitbutton{
    border-radius: 12px;

}


.LinkenInButton{
    border-radius: 12px;
    margin-right: 4px;
}
.mag{
    margin-bottom: 20
}
.navTitle{
 color: white;
 font-weight: bold;
}

.navSelection{
    color: white;
   }