.gitbutton{
    border-radius: 12px;

}

.navTitleButton{
    color: white;
    font-weight: bold;
    background-color: transparent;
    border-color: transparent;
}
.LinkenInButton{
    border-radius: 12px;
    margin-right: 4px;
}
.mag{
    margin-bottom: 20
}


.navSelection{
    color: white;
   }