.gitbutton{
    border-radius: 12px;

}

.navTitleButton{
    color: white;
    font-weight: bold;
    background-color: transparent;
    border-color: transparent;
}
.navTitleButton:focus{
    outline:0;
}
.navTitleButton:hover{
   color: orangered
}
.LinkenInButton{
    border-radius: 12px;
    margin-right: 4px;
}
.mag{
    margin-bottom: 20
}

.navWhite{
    color: white;
   }
.navSelection{
    top: 10px;
    color: white;
   }

.navSelection:hover{
    color: white;
    border-bottom: 3px solid peru;
}
