.contain{
    border-right: 4px solid blueviolet;
    height: 100%;
    left: 50%;
    position: absolute;
}

.circle{
    border: 4px solid blueviolet;
    background-color: white;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    position: absolute;
    top: calc(20px);
    left: calc(50% - 20px + 2px);
}

.tfleft{
    text-align: left;
}

.tright{
    float: right;
}
.tleft{
    float: left;
    font-weight: bold
}

.t_backgroud{
    padding: 2%;
    margin-top: 20px;
    margin-right: 20px;
    border-radius: 20px;
    background-color: #eeeeee;
   
}
.circle_icon{
    position: relative;
    top: 5%;
    left:1%;
}
