.mar{
margin-top: 25%
}

.photo{
    border-radius: 50%;
    width: 20%;
}

.photoButton{
    background-color: blueviolet;
    border-radius: 20ch;
    color: rgb(228, 217, 217);
    font-weight: bold
}